/* Header ------  */
#logo {
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 3px;
    color:#c24d04; 
    text-decoration: none;    
    padding-top: 20px;
    width:100%;
    margin:0;
    padding-left:100px;
    font-size:140%;
}

#letters {
    color:#ca5005; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    color:#ca5005;
}

/* Header ------ nav menu */

#menu {
    font-size: 90%;
    list-style-type:none;
    letter-spacing:3px;
    font-family:'Roboto',sans-serif;
    float:right;
}

#menu {
    line-height: 45px;
    text-align:center;
    float:right;
    width:100%
}

#menu li {
    float:right;
    margin-right:30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid #c0500c;
}

#navbar1 {
    color:#c0500c;
}

/*--Home/index------------- Hero Image*/

#hero-img {
    height:auto;
    max-width:100%;   
}
/*---------------- Learn More button */

#learn {
    background-color:#ce550b;   
}

#book-btn {
    background-color:#ce550b;  
}

#intro {
    padding-top:40px;
    font-weight:300;
    font-size:160%;
    width:100%;
    
}

.intro2 {
    font-size:125%;
    width:90%;
    padding-left:70px;
}

/* styles embedded video */
#video {
    padding-top:10px;
    padding-bottom:30px;
}

#vid-place {
    text-shadow: 0 1px black, -1px 0 black;
    padding-bottom:15px;
}

/* styles Review quotes */
.quote {
    text-align:center;
    width:100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius:5%;
    padding:5%;
    padding-left:1%;
    padding-right:1%;
}

.quote-1 {
    text-align:center;
    width:100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius:5%;
}

.icon {
    font-size:150%;
    background: rgba(0, 0, 0, .1);
}

/* Merchandise section styling */
#tshirt {
    width:100%;
    height:auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Poppins';
}

.price {
  color: #ce550b;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #ce550b;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.pbtn {
    color:#c24d04;
}

.pbtn1 {
    background-color:#c24d04;
}
    
/*------- Review Slideshow------ */

#my-carousel {
    width:100%;
    height:auto;
}

.carousel-item{
    text-align: center;
    
    width:100%;
}

.carousel-inner {
    width: 100%; /* or width: 100% !important; */
}

/* about us --nav bar */

#navbar1 {
    text-align: center;
}

.twithandle {
    color:#c0500a;
}

/* Footer */
#footer {
    height:300px;
}

.footer:hover {
    color: #c0500a;
}

.social-menu {
    text-align: center;
}

.social-menu li {
    display: inline;
}

.social-menu i {
    font-size:120%;
    margin:1%;
    padding:5%;
    color:#c0500c;
}

#social-menu:hover {
    color: #c0500a;
}

.main-form {
    width:450px;
    margin: auto;
}

/*--------- About Us Cards-----------*/

.card {
    padding-bottom:20px;
}

#bold {
    font-family: "Poppins";
}

.albums {
    float:right;
}

#media2 { 
    height:500px;
    margin-bottom: 20px;
    width:100%;   
}

#video1 {
    padding:0;
    padding-bottom:30px;
}

#discog {
    font-family: 'Poppins',sans-serif;
    background-color:#c0500a;
    height:500px;
    padding-top:20px;
    width:100%;
    padding-left:20px;
    padding-right:20px;
}

/* Media Querys:
increases playlist size to fill col*/
@media screen and (max-width: 1365px) {
    #media2 {
        width:450px;
  }
}
/* centres text/logo/headers on iPad on Chrome Dev Tools mobile emulator */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #card-center { 
        padding-left:80px;
        padding-bottom:60px;
    }  

    #head1 {
        padding-top:20px;
        padding-left:175px;
    }

    #head2 {
        padding-bottom:20px;
        padding-left:200px;
    }

    #head3 {
        padding-bottom:20px;
        padding-top:40px;
    }

    #news {
        padding-left:175px;
    }

    #logo {
        padding-left:70px;
    }

    .social-menu {
        padding-left:0px;
    }

    .quote {
        font-family: 'Pacifico', sans-serif;
        font-size: 300%;
    }

    .quote-1 {
        font-size: 200%;
        font-family: 'Pacifico', sans-serif;
    }

    .icon-q {
        font-size: 250%;
        border-radius: 5%;
    }

    #reviews {
        padding-bottom: 20px;
    }

    .hr {
        padding-top:20px;
    }

    #merch-row {
        padding-top:40px;
    }

    .nsu1 {
        padding-left:125px;
        padding-bottom:0;
        padding-top:50px;
        padding-right:0;
    }

}
/* targets the Text in the review section */
@media only screen and (min-width : 1366px) {
    .quote {
        font-size: 400%;
        font-family: 'Pacifico', sans-serif;
        padding:25px;
    }

    .quote-1 {
        font-size: 300%;
        font-family: 'Pacifico', sans-serif;
    }

    .icon-q {
        font-size: 350%;
        border-radius:15%;
    }
}

/* centres text/logo/headers on iPad Pro on Chrome Dev Tools mobile emulator*/
@media only screen and (min-width : 1024px) and (max-width : 1366px) { 
    #card-center { 
        padding-left:0px;
        padding-bottom:60px;
    }

    #gap {
        padding-top:40px;
    }

    #head1 {
        padding-left:375px;
        padding-top:60px;
        padding-bottom:35px;
    }

    #head2 {
        padding-left:325px;
    }

    #logo {
        padding-left:65px;
    }

    .social-menu {
        padding-left:0;
    }

    #news {
        padding-left:225px;
    }
    
    /* increases sizes of quotes against images */

    .quote {
        font-size: 350%;
        font-family: 'Pacifico', sans-serif;
        padding:25px;
    }

    .quote-1 {
        font-size: 250%;
        font-family: 'Pacifico', sans-serif;
    }

    .icon-q {
        font-size: 250%;
        border-radius:15%;
    }

    .body {
        font:18px;
    }

    #discog {
        font-size:90%;
    }

    .nsu1 {
        padding-left:150px;
        padding-bottom:0;
        padding-top:50px;
        padding-right:0;
    }
}

/* centres text/logo/headers on iPhone 6/7/8 on Chrome Dev Tools mobile emulator */
@media screen and (min-width : 320px) and (max-width : 568px) {
    #card-center { 
        padding-left:70px;
    }

    #logo {
        padding-left:65px;
    }

    .social-menu {
        padding-left:0px;
    }
}


/* centres text/logo/headers on iPhone 5/SE on Chrome Dev Tools mobile emulator */
@media only screen and (min-width : 320px) and (max-width : 568px) {
     #navbar1 {
        padding-left:30px;
    }
    
    #card-center { 
        padding-left:45px;
        padding-bottom:60px;
    }

    #discog {
        padding-bottom:60px;
    }

    #logo {
        padding-left:35px;
        padding-bottom:15px;
    }

    #head1 {
        padding-top:20px;
        padding-left:15px;
    }

    #head3 {
        padding-top:40px;
        padding-bottom:20px;
    }
    
    #gap {
        padding-top:20px;
        padding-bottom:50px;
    }

    .social-menu {
        padding-left:0px;
    }
/* resizes Index page text & quotes */

    #intro {
        padding-left:10px;
    }

    .intro2 {
        padding-left:6px;
        width:100%;
    }

    .quotes {
        max-height:175px;
    }

    .quote-1 {
        font-size:95%;
    }

    .nsu1 {
        padding-top:35px;
        padding-bottom:25px;
    }

}

/* centres text/logo/headers on Moto4/Galaxy 5 on Chrome Dev Tools mobile emulator */
@media only screen and (min-width : 360px) and (max-width : 640px) {
    #navbar1 {
        padding-left:30px;
    }
    
    #card-center { 
        padding-left:65px;
        padding-bottom:50px;
    }

    #head1 {
        padding-top:20px;
        padding-left:10px;
    }

    #head2 {
        padding-left:25px;
        padding-bottom:20px;
    }

    #head3 {
        padding-left:5px;
        padding-bottom:20px;
        padding-top:20px;
    }

    #gap {
        padding-bottom:20px;
    }
    
    #logo {
        padding-left:55px;
        padding-bottom:20px;
    }

    .social-menu {
        padding-left:0px;
    }
/* Index Page - resizing text*/
    .quotes {
        padding-bottom:5px;
    }

    #intro {
        padding-left:10px;
    }

    .intro2 {
        padding-left:10px;
        width:100%;
    }

    #reviews {
        padding-bottom:20px;
    }

    #merch-row {
        padding-top:20px;
    }

    .nsu1 {
        padding-top:35px;
        padding-bottom:25px;
    }
}

/* Attempt to resolve resize issue on 'Responsive' Chrome Dev Tools mobile emulator */
@media only screen and (min-width : 570px) and (max-width : 640px) {
    #logo {
        padding:60px;
    }

    #navbar {
        padding:60px;
    }
}

/* centres text/logo/headers on iPhone 6/7/8Plus on Chrome Dev Tools mobile emulator */
@media screen and (min-width : 414px) and (max-width : 736px) {
    #card-center { 
        padding-left:90px;
    }

    #logo {
        padding-left:90px;
    }

    .social-menu {
        padding-left:0px;
    }
}

/* centres text/logo/headers on Pixel2/Pixel2 XL on Chrome Dev Tools mobile emulator */
@media screen and (min-width : 411px) and (max-width : 731px) {
   #card-center {
       padding-left:90px;
   }

   #logo {
        padding-left:75px;
    }

    .social-menu {
        padding-left:0px;
    }

    #head2 {
        padding-left:40px;
        padding-bottom:20px;
    }

    #head3 {
        padding-bottom:20px;
        padding-top:20px;
    }

    /* index page - intro text resizing */

    #intro {
        padding-left:10px;
    }

    .intro2 {
        padding-left:10px;
    }

    #intro3 {
        font-size:125%;
    }
}  

.thumb {
    width:60px;
    height:60px;
}

.merch {
    font-weight:200;
    font-size:150%;
    background-color:#c0500c;
    font-family:'Pacifico';
    color:white;
    padding-top:5px;
}


/*-----Galllery-----------*/

.gall-slide {
   max-width: 100%;
   height:auto;
}

.row-gal {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Creates four gallery columns */

.column-gal {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-gal img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#head2 {
    letter-spacing:2px;
    padding-top:40px;
}

/* Responsive layout to make a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column-gal {
        flex: 50%;
        max-width: 50%;
  }
}

/* media query */
/* Responsive layout - makes two columns stack on top of each other */

@media screen and (max-width: 600px) {
    .column-gal {
        flex: 100%;
        max-width: 100%;
  }
}

#names {
    padding-top:20px;
}

#con-icon {
    text-align:center;
    padding-top:35px;
}

#btn-sub {
    background-color:#ca5005;
    color: rgb(236, 82, 43);
}

#btn-otr {
    padding-top:20px;
}

/* Newsletter sign up form*/   

#btn-sub {
    background-color:#ca5005;
    color: white;
}

/* Contact Page */

.lg-icon {
    font-size:115%;
}

.lg-icon1 {
    font-size:200%;
}

.lg-icon2 {
    font-weight:600;
}
