/* Header ------ Logo */


#logo {
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 3px;
    color:#ca5005; 
    text-decoration: none;    
    padding-top: 20px;
}

#letters {
    color:#ca5005; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    color:#ca5005;
}
/* Header ------ nav menu */
#menu {
    font-size: 90%;
    list-style-type:none;
    letter-spacing:3px;
    font-family:'Roboto',sans-serif;
    float:right;
}

#logo, #menu {
    line-height: 55px;
    text-align:center;
    float:right;
    width:100%
}

#menu li {
    float:right;
    margin-right:30px;
}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid #c0500c;
}
/*--------------- Hero Image*/
#hero-img {
    height:auto;
    max-width:100%;   
}
/*---------------- Learn More button */
#learn {
    background-color:#ce550b;   
}

#intro {
    padding-top:40px;
}
#video {
    padding-top:10px;
    padding-bottom:30px;
}

#quote {
    text-align:center;
    width:100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius:5%;
    padding:5%;
    padding-left:1%;
    padding-right:1%;
}

#quote-1 {
    text-align:center;
    width:100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius:5%;
    
}

#vid-place {
    text-shadow: 0 1px black, -1px 0 black;
}

#icon {
    font-size:150%;
    background: rgba(0, 0, 0, .1);
}
    
/* Slideshow */

#my-carousel {
    width:100%;
    height:auto;
}

.carousel-item{
    text-align: center;
    min-height: 280px; 
    width:100%;
}

.carousel-inner {
    width: 100%; /* or width: 100% !important; */
}



/* about us --nav bar */
#navbar1 {
    text-align: center;
}

/* Footer */
#footer {
    height:300px;
}

.footer:hover {
    color: #c0500a;
}

.social-menu {
    text-align: center;
}

.social-menu li {
    display: inline;
}

.social-menu i {
    font-size:100%;
    margin:1%;
    padding:5%;
    color:#c0500c;
}

#social-menu:hover {
    color: #c0500a;
}

.main-form {
    width:450px;
    margin: auto;
}

.card {
    padding-bottom:20px;
}