
/* wild card to remove padding */
*{
    margin:0;
    padding:0;
    border:0;
}

/*              Header Font styling */
h3 {
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 3px;
    
}

body {
    font-family: 'Roboto', sans-serif;
    color:#db5a0a;
}
/*                           header */

#logo {
    float:left;
    font-size:200%;
    padding-left: 2%;
    
    
}

#logo h3 {
    color:#db5a0a;
}


#menu {
    font-size: 110%;
    list-style-type:none;
    letter-spacing:3px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float:right;
    margin-right:30px;

}

#menu a {
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 1px solid #c0500c;
}

#hero-image {
    height:600px;
    width:100%;
    background: url("images/hero1.jpg") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* overlays header*/
#hero-outer {
    height:500px;
    width: 100%;
    overflow:hidden;
}

/* overlays header
@keyframes hero-zoom{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
} */

#buttons {
    padding-top: 50%;
    padding-left:33%;
    padding-bottom: 50%;
    position:absolute;
}

#button {
    color:rgba(250, 242, 242, 0.925);
    font-size:100%;
    border-radius: 8px;    
}

#playlist {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #777777;
    padding-top:5%;
    padding-left:5px;
}

p {
    font-family: 'Lato', sans-serif;
}
/*-------------------section1--------*/

.section1 p {
    letter-spacing: 2.5px;
    font-family: 'Roboto', sans-serif;
}

#text-left {
    padding-top: 30px;
    width:100%;
    float:left;
    padding-right:10px;
    padding-left:20px;
}

#video-right {
    padding-top: 30px;
    float:right;
    height: 100%;
    padding-bottom: 30px;
    
}

#playlist-left {
    padding-top: 30px;
    width:100%;
    float:left;
}
#text-right {
    padding-top: 30px;
    width:100%;
    float:right;
}

.section1 {
    width: 100%;
    height: 300px;
    float:right;
    border-top: 1px solid #db5a0a;
    border-bottom: 1px solid #db5a0a;
    padding: 10px;
    padding-right:10px;
    padding-bottom:10px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.section2 {
    width: 100%;
    height: 300px;
    float:left;
    border-top: 1px solid #db5a0a;
    border-bottom: 1px solid #db5a0a;
    padding-right:10px;
    padding-bottom:10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.section2 p {
    letter-spacing: 3px;
    font-family: 'Roboto',sans-serif;
}

#button-learn {
    font-size:100%;
    border-radius: 8px;    
    padding-right:20px;
    padding-left: 20px;
}

#button-contact {
    color:#c0500c
}

footer {
    height:300px;
}

.social-menu {
    text-align: center;
}

.social-menu li {
    display: inline;
}

.social-menu i {
    font-size:120%;
    margin:1%;
    padding:5%;
    color:#c0500c;
}

.section3 {
    width: 100%;
    height: 300px;
    float:left;
    border-bottom: 1px solid #db5a0a;
    padding-top: 10px;
}

.gallery-cell {
  width: 40%; 
  height: 200px; /* height of carousel */
  margin-right: 10px;
  margin-bottom:15px;
  padding-left: 10px; 
  padding-top: 10px;

}

